# =========================
# Virtual Environments 
# =========================
.env
.venv
env/
venv/

# =========================
# Python / Byte-compiled
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Testing & Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
pytest.xml
.allure-results/

# =========================
# IDEs & OS Files 
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
